div#main-content h1,
div#main-content h2,
div#main-content h3,
div#main-content h4,
div#main-content h5,
div#main-content h6 {
color:#f59121;
}

a {
color:#f59121;
}

table thead, table th {
background-color:#f59121;
}

hr {
background-color:#f59121;
}


/*********************************************************/
/********************     Header     *********************/
/*********************************************************/
div#header ul li a:hover, div#header ul li a:focus, div#header ul li a:active {
color:#f59121 !important;
}

/* Moteur de recherche */
div.gsc-control-cse {
background-color:#f59121;
border:1px solid #f59121;
}

div.gsc-control-cse table tbody {
background-color:#f59121;
border:1px solid #f59121;
}

div.gsc-control-cse table.gsc-search-box tr:nth-of-type(2n+1) {
background-color:#f59121;
}


/*********************************************************/
/*********************     Menu     **********************/
/*********************************************************/
div.menuConteneur {
background-color:#f59121;
}

div.menuConteneur div.nav ul li a:hover, div.menuConteneur div.nav ul li a:focus, div.menuConteneur div.nav ul li a:active {
background-color:#c57a25;
}

div.menuConteneur div.mediaSociaux a i {
color:#f59121;
}

.mega-menu {
background-color:#c57a25;
}

.menu-bar {
background-color:#f59121;
}



/*********************************************************/
/********************     Bandeau     ********************/
/*********************************************************/
div.infoCovid19 {
background-color:#f59121;
}

div#bandeau div.conteneurBandeau {
color:#f59121;
}


/*********************************************************/
/*****************     Main content     ******************/
/*********************************************************/
div#main-content .emphaseCouleur {
color:#f59121;
}

div.reseauxSociaux:before {
border-top:5px solid #f59121;
}

label {
color:#f59121;
}

.bouton, .boutonMini, .boutonGros, .boutonGrosAT {
background-color:#f59121;
border:3px solid #f59121;
}

li.boutonMini:hover, li.boutonMini:focus, li.boutonMini:active {
background-color:#f59121;
border:3px solid #f59121;
}

.boutonSecondaire {
color:#f59121;
}

.boutonGros:hover, .boutonGros:focus, .boutonGros:active,
.boutonGrosAT:hover, .boutonGrosAT:focus, .boutonGrosAT:active {
background-color:#f59121;
}

a.at-icon-wrapper {
background-color:#f59121 !important;
}

/***********************************************************/
/*******************     Wizard       **********************/
/***********************************************************/
ul.wizard li {
color:#f59121;
}

ul.wizard li.active a {
background-color:#f59121;
}

ul.wizard li a {
color:#f59121;
}

ul.wizard li a:hover, ul.wizard li a:focus, ul.wizard li a:active {
background-color:#c57a25;
}


/*********************************************************/
/***********     Calendrier des évènements     ***********/
/*********************************************************/
div#calendrierEvenements div.large-4 {
background-color:#f59121;
}

div#calendrierEvenements div.large-4 a.bouton i {
color:#f59121;
}

div#calendrierEvenements div.vignetteEvenement div.vignetteEvenementContenu h2 {
color:#f59121;
}


/*********************************************************/
/*************     Fiche des entreprises     **************/
/*********************************************************/
div.evenementFiche i {
background-color:#f59121;
}

ul.listeIcones li i {
background-color:#f59121;
}


/*********************************************************/
/***************     Carte touristique     ***************/
/*********************************************************/
div#carteTouristique p {
color:#f59121;
}


/*********************************************************/
/*******************     Instagram     *******************/
/*********************************************************/
div#instagram div.large-4 h1 {
color:#f59121;
}

div#instagram div.large-4 ul li a {
border:3px solid #f59121;
background-color:#f59121;
}

div#instagram div.large-4 ul li a:hover {
color:#f59121;
}


/*********************************************************/
/********************     Footer     *********************/
/*********************************************************/
footer {
background-color:#f59121;
}
